@font-face{
  font-family:'Glyphicons Halflings';
  src:url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
  src:url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'),url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  }
  .glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;}
  .glyphicon-trash:before{content:"\e020";}
  .glyphicon-file:before{content:"\e022";}
  .glyphicon-edit:before{content:"\e065";}

body{
  background: #f5f4e9;
}

.container{
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;

}


.highlighted{
  background: green;
  color: blue;
}

.hidden{
  display: none;
}

.carcalendar{
  border-spacing: 3px;
}

.carcalendar tr td{
  padding: 10px;

  border-radius: 15px;
  text-align: center;
}

.tfoot-dark{
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
  font-weight: bold;
}

.cafeAllowedMonthTD{
  border: 1px solid #e1e6ed;
}

.highlightedMonth{
  margin: 3px;
  background: #173463;
  color: white;

}

.cafeElements{
  border: 3px solid black;
  border-radius: 10px;

}

.cafeplan{
  border: 3px solid black;
  border-radius: 10px;
}
